.manrope-font{
    font-family: "Manrope", sans-serif;
}
.row-one {
    background: url('/Images/2.png' );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 600px;
    
}

.row-two{
    background: url('/Images/3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 600px;
}

.single {
    background: url('/Images/4.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 100%;
}
.card-done {
    
    border: 1px solid rgb(235, 217, 217);
    background-color: rgb(253, 254, 255);
    border-radius: 12px;
}