.manrope-font{
    font-family: "Manrope", sans-serif;
}
.row-one {
    background: url('../Images/2.png' );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 600px;
    
}

.row-two{
    background: url('../Images/3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 600px;
}

.single {
    background: url('../Images/4.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 100%;
}
.card-done {
    
    border: 1px solid rgb(235, 217, 217);
    background-color: rgb(253, 254, 255);
    border-radius: 12px;
}

.jjj{
    border: 1px solid gainsboro;
    
}

#name, #number, #email, #subject {
    font-size: 10px;
    border: none;
    outline: none;
    padding: 10px;
    margin-bottom: 10px;
    background: rgba(19, 19, 24, 0.03);;
}

.field-area > h2 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #131318;
    font-weight: 800;
}
.field-area {
    margin-top: 50px;
    margin-left: -210px;
    border: 1px solid gray;
    border: 0;
}


/* responsive css */

@media screen and (max-width:640px) {
    body {
        width: 100%;
    }
    .row-one{
        width: 100%;
    }
    .row-two{
        width: 100%;
    }
    .single {
        width: 100%;
    }
    .single > h2 {
        margin-top: 70px;
        margin-bottom: 0;
    }
    .single > p {
        
    }
    .tit {
        padding-top: 100px;
    }
    #textarea{
        margin-left: 220px;
        width: 400px;
    }
    .unir{
        margin-left: 10px;
        width: 400px;

    }
    .bonus-sec {
       display: none;
    }
    .unir-b {
            display: none;
            
    }
    .aside-f {
        padding-left: 90px;
    }
    .norcor {
        position: relative;
      padding-left:220px ;  
    }

    .coooc {
        position: absolute;
        padding-top: 220px;
    }

    .lst {
        padding-left: 100px;
    }

       
    }

    
   
 
